@{
    ViewData["Title"] = "About";
}

<h1>Hello Folk</h1>
<p>
    I'm a Front & Back End Web Developer, based in Gothenburg, Sweden. Recently I completed my Full Stack diploma with Code Institute, Just now I'm studyong ASP.NET at Lexicon.
    I am especially passionate about Python, Data Science, problem solving and logical challenges.<br />
    Now excited to add skills and knowledge in IT as well as rich experience from intercultural<br />
    work settings and solution-oriented tasks to a future team and work setting.
</p>
<h6 class="text-muted">want to know more, download my CV </h6>
<a href="../pdf/CV.pdf">Download my CV"></a>


