
@{
    ViewData["Title"] = "Projects";
}
<div class="text-center">
    <h1 class="display-4">My Projects</h1>

    <h5>Curious? Have a look at my Github and see my projects there  </h5>
    <a href="https://github.com/LaiMo2020" target="_blank">Github</a>

</div>