

@{
    ViewData["Title"] = "FeverCheck";
}
<h1>Doctor Check</h1>
<p>Please, enter your temperature to check it</p>
 (ViewBag.message == null)

 <form method="post" asp-controller="Doctor" asp-action="FeverCheck">
        <label>Check your temperature state</label>
        <input type="number" name="temp" placeholder="Enter your temperature" />
        <input type="submit" />
        @*<button>
                OnClick="Celsius"
            </button>*@
    </form>

 

<p> @ViewBag.message</p>

